<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <title>vue</title>
    <script src="js/jquery-3.5.1.js"></script>
    <script src="https://www.jq22.com/jquery/vue.min.js"></script>
<!--    <script src="js/vue.js"></script>-->

    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/order.css">
    <script src="js/token.js"></script>


</head>
<body>
<div class="page-shopping-cart" id="shopping-cart">
    <h4 class="cart-title">购物清单</h4>
    <div class="cart-product clearfix">
        <table>
            <thead>
            <tr class="cart-product-title">
                <th class="td-check">
                    <input type="checkbox" class="check-span fl check-all"  :class="{'check-true':isSelectAll}" @click="selectProduct(isSelectAll)" :checked="isSelectAll" id="checkAll"></input>全选</th>
                <th class="td-product">商品</th>
                <th class="td-num">数量</th>
                <th class="td-price">单价(元)</th>
                <th class="td-total">金额(元)</th>
                <th class="td-do">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item,index) in productList" :key="index">
                <td class="td-check"><input type="checkbox" class="check-span"  @click="item.select=!item.select" :class="{'check-true':item.select}" :checked="item.select"></input></td>
                <td class="td-product"><img :src="item.pro_img" width="98" height="98">
                    <div class="product-info">
                        <h3>{{item.drugName}}</h3>
<!--                        <p>：{{item.pro_brand}}&nbsp;&nbsp;产地：{{item.pro_place}}</p>-->
<!--                        <p>规格/纯度:{{item.pro_purity}}&nbsp;&nbsp;起定量：{{item.pro_min}}</p>-->
<!--                        <p>配送仓储：{{item.pro_depot}}</p>-->
                    </div>
                    <div class="clearfix"></div>
                </td>
                <td class="td-num">
                    <div class="product-num">
                        <a href="javascript:;" class="num-reduce num-do fl" @click="minus(index)"><span></span></a>
                        <input type="text" class="num-input" v-model="item.orderDrugCount" @input="search($event,index)" @blur="check($event,index)">
                        <a href="javascript:;" class="num-add num-do fr" @click="add(index)"><span></span></a>
                    </div>
                </td>
                <td class="td-price">
                    <p class="red-text">￥<span class="price-text">{{item.drugPrice.toFixed(2)}}</span></p>
                </td>
                <td class="td-total">
                    <p class="red-text">￥<span class="total-text">{{(item.drugPrice*item.orderDrugCount).toFixed(2)}}</span></p>
                </td>
                <td class="td-do"><a href="javascript:;" class="product-delect"  @click="deleteOneProduct(index)">删除</a></td>
            </tr>
            </tbody></table>
    </div>
    <div class="cart-product-info">
        <a class="delect-product" href="javascript:;" @click="deleteProduct">删除所选商品</a>
        <a class="keep-shopping" href="drugs.html">继续购物</a>
        <a class="btn-buy fr" href="javascript:;">去结算</a>
        <p class="fr product-total">￥<span>{{getTotal.totalPrice}}</span></p>
        <p class="fr check-num"><span>{{getTotal.totalNum}}</span>件商品总计（不含运费）：</p>
    </div>
</div>
</body>
<script>
    $(function () {
        let vue1= new Vue({
            el:'#shopping-cart',
            data:{
                productList:[

                ],

            },
            computed: {
                isSelectAll:function(){
                    //如果productList中每一条数据的select都为true，返回true，否则返回false;
                    return this.productList.every(function (val) { return val.select});
                },
                getTotal:function(){
                    //获取productList中select为true的数据。
                    var _proList=this.productList.filter(function (val) { return val.select}),
                       totalPrice=0;
                    for(var i=0,len=_proList.length;i<len;i++){
                        //总价累加
                        totalPrice+=_proList[i].orderDrugCount*_proList[i].drugPrice;
                    }
                    //选择产品的件数就是_proList.length，总价就是totalPrice
                    return {totalNum:_proList.length,totalPrice:totalPrice}
                }
            },
            methods:{
                selectProduct:function(_isSelect){
                    //遍历productList，全部取反
                    for (var i = 0, len = this.productList.length; i < len; i++) {
                        this.productList[i].select = !_isSelect;
                    }
                },//删除已经选中(select=true)的产品
                deleteProduct:function () {
                    this.productList=this.productList.filter(function (item) {return !item.select})
                },
                //删除单条产品
                deleteOneProduct:function (index) {
                    //根据索引删除productList的记录
                    this.productList.splice(index,1);
                },
                search: function (event,index) {
                    let flag = new RegExp("^[1-9]([0-9])*$").test(event.target.value);
                    if(!flag){
                        this.productList[index].orderDrugCount = '';
                    }
                },
                check: function(event,index){
                    if(event.target.value==''){
                        this.productList[index].orderDrugCount = 0;
                    }
                },
                //数量增加
                add: function(index){
                    this.productList[index].orderDrugCount++;
                },
                //数量减少
                minus: function(index){
                    if(this.productList[index].orderDrugCount>0){
                        this.productList[index].orderDrugCount--;
                    }else{
                        this.productList[index].orderDrugCount = 0;
                    }

                }
            },
            mounted:function () {
                //为productList添加select（是否选中）字段，初始值为true
                var _this=this;
                //为productList添加select（是否选中）字段，初始值为true
                this.productList.map(function (item) {
                    _this.$set(item, 'select', true);
                })


                $.ajax({
                    url:"orderDrug/showOrderDrugByUserId/"+user.userId,
                    type:"get",
                    success:function (data) {
                        for(let i=0;i<data.length;i++){
                            data[i].select=false;
                        }
                        vue1.productList = data
                        console.log("vue1.cartOrder")
                        console.log(vue1.productList)
                    }
                })



            }
        })
    })

</script>
</html>