<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- viewport meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,  initial-scale=1.0">
    <meta name="description" content="Aduca - Learning & Online Education HTML Template">
    <meta name="keywords" content="Aduca - Learning & Online Education HTML Template">

    <title>医苑 - 在线预约平台</title>

    <!-- Favicon -->
    <link rel="icon" sizes="16x16" href="images/favicon.png">

    <!-- inject:css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/line-awesome.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/jquery.countdown.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="css/style2.css" rel="stylesheet" type="text/css" media="all" />
    <!-- start details -->
    <link rel="stylesheet" type="text/css" href="css/productviewgallery.css" media="all" />

    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/magnific-popup.min.js"></script>
    <script src="js/isotope.js"></script>
    <script src="js/waypoint.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/particles.min.js"></script>
    <script src="js/particlesRun.js"></script>
    <script src="js/lightgallery.js"></script>
    <script src="js/wow.js"></script>
    <script src="js/smooth-scrolling.js"></script>
    <script src="js/main.js"></script>
    <script src="js/layer.js"></script>
    <script src="js/jquery-3.5.1.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/token.js"></script>


    <script type="text/javascript" src="js/cloud-zoom.1.0.3.min.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox-buttons.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox-thumbs.js"></script>
    <script type="text/javascript" src="js/productviewgallery.js"></script>
    <!-- start top_js_button -->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <!-- end inject -->
    <script>
        $(function () {
            //点击头像，页面跳转到个人中心;
            let vue0 = new Vue({
                el: "#vue0",
                data: {
                    userImg: user.userImg,
                    userId: user.userId
                },
                mounted: function () {
                    console.log("asdfasd");
                    if(this.userImg===null){
                        this.userImg="未登录.jpg";
                    }
                }
            })
            let vue1 = new Vue({
                el:"#vue1",
                data:{
                    drugKind:"",
                    drugName:"",
                    drugPrice:"",
                    drugDescribe:"",
                    drugId:"",
                },
                mounted:function () {

                    // get: function () {
                    //     if (url.indexOf("?") == -1) {
                    //         return {};
                    //     }
                    //
                    //
                    //     let query = url.split("?")[1];
                    //     let queryArr = query.split("&");
                    //     let obj = {};
                    //     queryArr.forEach(function (item) {
                    //         let key = item.split("=")[0];
                    //         let value = item.split("=")[1];
                    //         obj[key] = decodeURIComponent(value);
                    //     });
                    //     return obj;
                    // },
                   // set:function ()  {
                       let str = window.location.search;
                       let x=str.substr(str.length-1,1);
                       console.log(x);
                        $.ajax({
                        url:"drug/showDrugsById/"+x,
                        type:"get",
                        success:function (data) {
                            vue1.drugKind=data.drugKind;
                            vue1.drugName=data.drugName;
                            vue1.drugPrice=data.drugPrice;
                            vue1.drugDescribe=data.drugDescribe;
                            vue1.drugId=data.drugId;
                            alert(urlMsg);

                        },
                    })},
                })


        })
    </script>
</head>
<body>

<!-- start cssload-loader -->
<div class="preloader">
    <div class="cssload-loader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- end cssload-loader -->

<!--======================================
        START HEADER AREA
    ======================================-->
<section class="header-menu-area">
    <div class="header-menu-fluid">
        <div class="header-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="header-widget header-widget1">
                            <ul class="contact-info d-flex align-items-center">
                                <li><a href="#"><span class="la la-phone"></span> 123-456-789</a> </li>
                                <li><a href="#"><span class="la la-envelope-o"></span> find@hospital.com</a></li>
                                <!--用户个人中心-->
                                <li id="vue0"><a v-bind:href="'singleMan.html?'+userId" target="_blank">个人中心：<img
                                        v-bind:src="'http://39.105.180.116:9901/images/'+userImg"
                                        class="rounded-circle shadow"
                                        width="33px" height="33px"> </a></li>
                            </ul>
                        </div><!-- end header-widget -->
                    </div><!-- end col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="header-widget header-widget2 d-flex align-items-center justify-content-end">
                            <div class="header-right-info">
                                <ul class="social-info d-flex align-items-center">
                                    <li><a href="#"><i class="fa fa-qq"></i></a></li>
                                    <li><a href="#"><i class="fa fa-wechat"></i></a></li>
                                    <li><a href="#"><i class="fa fa-weibo"></i></a></li>
                                    <li><a href="#"><i class="fa fa-tencent-weibo"></i></a></li>
                                </ul>
                            </div>
                            <div class="header-right-info d-flex align-items-center">
                                <ul class="user-cart d-flex align-items-center">
                                    <li>
                                        <span class="la la-shopping-cart user-cart-btn"></span>
                                        <ul class="dropdown-menu-item">
                                            <li>无购物信息，先去购物吧！</li>
                                            <li><a href="#" class="theme-btn">继续购物</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="user-action d-flex align-items-center">
                                    <li><a href="login.html">登录</a></li>
                                    <li><span>/</span></li>
                                    <li><a href="sign-up.html">注册</a></li>
                                </ul>
                            </div>
                        </div><!-- end header-widget -->
                    </div><!-- end col-lg-6 -->
                </div><!-- end row -->
            </div><!-- end container-fluid -->
        </div><!-- end header-top -->
        <div class="container-fluid">
            <div class="row align-items-center estage-menu-content">
                <div class="col-lg-3">
                    <div class="logo-box">
                        <a href="index.html" class="logo" title="Aduca"><img src="images/logo.png" alt="logo"></a>
                        <div class="header-category">
                            <ul>
                                <li>
                                    <a href="#"><i class="fa fa-th"></i> 全部分类</a>
                                    <ul class="dropdown-menu-item">
                                        <li>
                                            <a href="#">发展历程 <span class="la la-angle-right"></span></a>
                                            <ul class="sub-menu">
                                                <li><a href="#">所有发展</a></li>
                                                <li><a href="#">Web开发</a></li>
                                                <li><a href="#">移动应用</a></li>
                                                <li><a href="#">游戏开发</a></li>
                                                <li><a href="#">资料库</a></li>
                                                <li><a href="#">编程语言</a></li>
                                                <li><a href="#">软件测试</a></li>
                                                <li><a href="#">软件工程</a></li>
                                                <li><a href="#">电子商务</a></li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!-- end col-lg-3 -->
                <div class="col-lg-9">
                    <div class="menu-wrapper">
                        <div class="contact-form-action">
                            <!--Contact Form-->
                            <form method="post">
                                <div class="row">
                                    <div class="col-lg-12 form-group">
                                        <input class="form-control" type="text" name="search" placeholder="搜索">
                                        <span class="la la-search search-icon"></span>
                                    </div><!-- end col-lg-6 -->
                                </div><!-- end row -->
                            </form>
                        </div><!-- end contact-form-action -->
                        <nav class="main-menu">
                            <ul>
                                <li>
                                    <a href="#">首页</a>
                                    <ul class="dropdown-menu-item">
                                        <li><a href="index.html">首页 01</a></li>
                                        <li><a href="home-2.html">首页 02</a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html">关于</a></li>
                                <li>
                                    <a href="#">医生</a>
                                    <ul class="dropdown-menu-item">
                                        <li><a href="course-grid.html">医生·网格版</a></li>
                                        <li><a href="course-details.html">医生详情</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">医院</a>
                                    <ul class="dropdown-menu-item">
                                        <li><a href="teachers.html">医院</a></li>
                                        <li><a href="teacher-detail.html">医生</a></li>
                                        <li><a href="faq.html">常见问题</a></li>
                                        <li><a href="admission.html">admission</a></li>
                                        <li><a href="gallery.html">gallery</a></li>
                                        <li><a href="pricing-table.html">pricing tables</a></li>
                                        <li><a href="sign-up.html">注册</a></li>
                                        <li><a href="login.html">登录</a></li>
                                        <li><a href="error.html">错误页面</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">博客</a>
                                    <ul class="dropdown-menu-item">
                                        <li><a href="blog-grid.html">网格版</a></li>
                                        <li><a href="blog-single.html">单独版</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">交流</a></li>
                            </ul><!-- end ul -->
                        </nav><!-- end main-menu -->
                        <div class="logo-right-button">
                            <ul>
                                <li class="ticket-button-box"><a href="admission.html" class="theme-btn">admission</a></li>
                            </ul>
                            <div class="side-menu-open">
                                <span class="menu__bar"></span>
                                <span class="menu__bar"></span>
                                <span class="menu__bar"></span>
                            </div>
                        </div><!-- end logo-right-button -->
                        <div class="side-nav-container">
                            <div class="humburger-menu">
                                <div class="humburger-menu-lines side-menu-close"></div><!-- end humburger-menu-lines -->
                            </div><!-- end humburger-menu -->
                            <div class="side-menu-wrap">
                                <ul class="side-menu-ul">
                                    <li class="sidenav__item">
                                        <a href="index.html">首页</a>
                                        <span class="menu-plus-icon"></span>
                                        <ul class="side-sub-menu">
                                            <li><a href="index.html">首页 01</a></li>
                                            <li><a href="home-2.html">首页 02</a></li>
                                        </ul>
                                    </li>
                                    <li class="sidenav__item"><a href="about.html">关于</a></li>
                                    <li class="sidenav__item">
                                        <a href="#">医生</a>
                                        <span class="menu-plus-icon"></span>
                                        <ul class="side-sub-menu">
                                            <li><a href="course-grid.html">医生·网格版</a></li>
                                            <li><a href="course-details.html">医生详情</a></li>
                                        </ul>
                                    </li>
                                    <li class="sidenav__item">
                                        <a href="#">医院</a>
                                        <span class="menu-plus-icon"></span>
                                        <ul class="side-sub-menu">
                                            <li><a href="teachers.html">医院</a></li>
                                            <li><a href="teacher-detail.html">医生</a></li>
                                            <li><a href="faq.html">常见问题</a></li>
                                            <li><a href="admission.html">admission</a></li>
                                            <li><a href="gallery.html">gallery</a></li>
                                            <li><a href="pricing-table.html">pricing tables</a></li>
                                            <li><a href="sign-up.html">注册</a></li>
                                            <li><a href="login.html">登录</a></li>
                                            <li><a href="error.html">错误页面</a></li>
                                        </ul>
                                    </li>
                                    <li class="sidenav__item">
                                        <a href="blog-grid.html">博客</a>
                                        <span class="menu-plus-icon"></span>
                                        <ul class="side-sub-menu">
                                            <li><a href="blog-grid.html">博客</a></li>
                                            <li><a href="blog-single.html">博客网·格版</a></li>
                                        </ul>
                                    </li>
                                    <li class="sidenav__item">
                                        <a href="contact.html">contact</a>
                                    </li>
                                </ul>
                                <div class="side-btn-box">
                                    <a href="admission.html" class="theme-btn">admission</a>
                                </div>
                            </div><!-- end side-menu-wrap -->
                        </div><!-- end side-nav-container -->
                    </div><!-- end menu-wrapper -->
                </div><!-- end col-lg-9 -->
            </div><!-- end row -->
        </div><!-- end container-fluid -->
    </div><!-- end header-menu-fluid -->
</section><!-- end header-menu-area -->
<!--======================================
        END HEADER AREA
======================================-->

<!--================================
         START SLIDER AREA
=================================-->
<div class="main_bg">
    <div class="wrap">
        <div class="main">
            <!-- start content -->
            <div class="single" id="vue1">
                <!-- start span1_of_1 -->
                <div class="left_content"><!--写v-for-->
                    <div class="span1_of_1">
                        <!-- start product_slider -->
                        <div class="product-view">
                            <div class="product-essential">
                                <div class="product-img-box">
                                    <div class="more-views" style="float:left;">
                                        <div class="more-views-container">

                                        </div>
                                    </div>
                                    <div class="product-image" >
                                        <a class="cs-fancybox-thumbs cloud-zoom" rel="adjustX:30,adjustY:0,position:'right',tint:'#202020',tintOpacity:0.5,smoothMove:2,showTitle:true,titleOpacity:0.5" data-fancybox-group="thumb" >
                                            <img src="images/0001-2.jpg"   />
                                        </a>
                                    </div>
<!--                                    <script type="text/javascript">-->
<!--                                        var prodGallery = jQblvg.parseJSON('{"prod_1":{"main":{"orig":"images/0001-2.jpg","main":"images/large/0001-2.jpg","thumb":"images/small/0001-2.jpg","label":""},"gallery":{"item_0":{"orig":"images/0001-2.jpg","main":"images/large/0001-2.jpg","thumb":"images/small/0001-2.jpg","label":""},"item_1":{"orig":"images/0001-1.jpg","main":"images/large/0001-1.jpg","thumb":"images/small/0001-1.jpg","label":""},"item_2":{"orig":"images/0001-5.jpg","main":"images/large/0001-5.jpg","thumb":"images/small/0001-5.jpg","label":""},"item_3":{"orig":"images/0001-3.jpg","main":"images/large/0001-3.jpg","thumb":"images/small/0001-3.jpg","label":""},"item_4":{"orig":"images/0001-4.jpg","main":"images/large/0001-4.jpg","thumb":"images/small/0001-4.jpg","label":""}},"type":"simple","video":false}}'),-->
<!--                                            gallery_elmnt = jQblvg('.product-img-box'),-->
<!--                                            galleryObj = new Object(),-->
<!--                                            gallery_conf = new Object();-->
<!--                                        gallery_conf.moreviewitem = '<a class="cs-fancybox-thumbs" data-fancybox-group="thumb" style="width:64px;height:85px;" href=""  title="" alt=""><img src="" src_main="" width="64" height="85" title="" alt="" /></a>';-->
<!--                                        gallery_conf.animspeed = 200;-->
<!--                                        jQblvg(document).ready(function() {-->
<!--                                            galleryObj[1] = new prodViewGalleryForm(prodGallery, 'prod_1', gallery_elmnt, gallery_conf, '.product-image', '.more-views', 'http:');-->
<!--                                            jQblvg('.product-image .cs-fancybox-thumbs').absoluteClick();-->
<!--                                            jQblvg('.cs-fancybox-thumbs').fancybox({ prevEffect : 'none',-->
<!--                                                nextEffect : 'none',-->
<!--                                                closeBtn : true,-->
<!--                                                arrows : true,-->
<!--                                                nextClick : true,-->
<!--                                                helpers: {-->
<!--                                                    thumbs : {-->
<!--                                                        width: 64,-->
<!--                                                        height: 85,-->
<!--                                                        position: 'bottom'-->
<!--                                                    }-->
<!--                                                }-->
<!--                                            });-->
<!--                                            jQblvg('#wrap').css('z-index', '100');-->
<!--                                            jQblvg('.more-views-container').elScroll({type: 'vertical', elqty: 4, btn_pos: 'border', scroll_speed: 400 });-->

<!--                                        });-->

<!--                                        function initGallery(a,b,element) {-->
<!--                                            galleryObj[a] = new prodViewGalleryForm(prods, b, gallery_elmnt, gallery_conf, '.product-image', '.more-views', '');-->
<!--                                        };-->
<!--                                    </script>-->
                                </div>
                            </div>
                        </div>
                        <!-- end product_slider -->
                    </div>
                    <!-- start span1_of_1 -->
                    <div class="span1_of_1_des">
                        <div class="desc1">
                            <h3 v-model="drugName">{{drugName}} </h3>
                            <h5 v-model="drugPrice">￥{{drugPrice}} <a href="#">点击申请购买资格</a></h5>
                            <div class="available">
                                <h4>可选项 :</h4>
                                <ul>


                                    <li>数量:
                                        <select>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                            <option>11</option>
                                        </select>
                                    </li>
                                </ul>
                                <div class="btn_form">
                                    <form>
                                        <input type="submit" value="add to cart" title="" />
                                    </form>
                                </div>
                                <span class="span_right"><a href="#">登录后可加入到购物车 </a></span>
                                <div class="clear"></div>
                            </div>
                            <div class="share-desc">
                                <div class="share">
                                    <h4>分享到 :</h4>
                                    <ul class="share_nav">
                                        <li><a href="#"><i class="fa fa-qq"></i></a></li>
                                        <li><a href="#"><i class="fa fa-wechat"></i></a></li>
                                        <li><a href="#"><i class="fa fa-weibo"></i></a></li>
                                        <li><a href="#"><i class="fa fa-tencent-weibo"></i></a></li>
                                    </ul>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <!-- start tabs -->
                    <section class="tabs">
                        <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked">
                        <label for="tab-1" class="tab-label-1">药品描述</label>



                        <div class="clear-shadow"></div>

                        <div class="content">
                            <div class="content-1">
                                <p class="para top" v-model="drugDescribe"><span>{{drugDescribe}}</span></p>

                                <div class="clear"></div>
                            </div>

                        </div>
                    </section>
                    <!-- end tabs -->
                </div>
                <!-- start sidebar -->
                <div class="left_sidebar">
                    <div class="sellers">
                        <h4>畅销药</h4>
                        <div class="single-nav">
                            <ul>
                                <li><a href="#">写药名</a></li>

                            </ul>
                        </div>


                    </div>
                </div>
                <!-- end sidebar -->
                <div class="clear"></div>
            </div>
            <!-- end content -->
        </div>
    </div>
</div>

<
<!--======================================
        END COURSE AREA
======================================-->

<!--======================================
        START COURSE 2 AREA
======================================-->











<div class="section-divider"></div>







<!-- ================================
         END FOOTER AREA
================================= -->
<section class="footer-area">
    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <a href="index.html">
                        <img src="images/logo2.png" alt="footer logo" class="footer__logo">
                    </a>
                    <ul class="footer-address">
                        <li><a href="tel:+1631237884">+163 123 7884</a></li>
                        <li><a href="mailto:support@wbsite.com" class="mail">support@website.com</a></li>
                        <li>Melbourne, Australia, 105 South Park Avenue</li>
                    </ul>
                    <ul class="footer-social">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </li>
                    </ul>
                </div><!-- end footer-widget -->
            </div><!-- end col-lg-3 -->
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h3 class="footer-title">company</h3>
                    <span class="section__divider"></span>
                    <ul class="footer-link">
                        <li><a href="#">about us</a></li>
                        <li><a href="#">become a Teacher</a></li>
                        <li><a href="#">support</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">blog</a></li>
                    </ul>
                </div><!-- end footer-widget -->
            </div><!-- end col-lg-3 -->
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h3 class="footer-title">courses</h3>
                    <span class="section__divider"></span>
                    <ul class="footer-link">
                        <li><a href="#">Web Development</a></li>
                        <li><a href="#">PHP Learning</a></li>
                        <li><a href="#">Spoken English</a></li>
                        <li><a href="#">Self-Driving Car</a></li>
                        <li><a href="#">Garbage Collectors</a></li>
                    </ul>
                </div><!-- end footer-widget -->
            </div><!-- end col-lg-3 -->
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h3 class="footer-title">mobile</h3>
                    <span class="section__divider"></span>
                    <ul class="footer-link social-link">
                        <li><a href="#"><i class="la la-apple"></i> App Store</a></li>
                        <li><a href="#"><i class="la la-android"></i> Google Play</a></li>
                    </ul>
                </div><!-- end footer-widget -->
            </div><!-- end col-lg-3 -->
        </div><!-- end row -->
        <div class="row copyright-content align-items-center">
            <div class="col-lg-10">
                <p class="copy__desc">&copy; 2019 Aduca. All Rights Reserved. by <a href="http://www.bootstrapmb.com/">TechyDevs.</a></p>
            </div><!-- end col-lg-9 -->
            <div class="col-lg-2">
                <div class="language-select">
                    <select class="target-lang">
                        <option value="1">English</option>
                        <option value="2">Deutsch</option>
                        <option value="3">Español</option>
                        <option value="4">Français</option>
                        <option value="5">Bahasa Indonesia</option>
                        <option value="6">Bangla</option>
                        <option value="7">日本語</option>
                        <option value="8">한국어</option>
                        <option value="9">Nederlands</option>
                        <option value="10">Polski</option>
                        <option value="11">Português</option>
                        <option value="12">Română</option>
                        <option value="13">Русский</option>
                        <option value="14">ภาษาไทย</option>
                        <option value="15">Türkçe</option>
                        <option value="16">中文(简体)</option>
                        <option value="17">中文(繁體)</option>
                        <option value="17">Hindi</option>
                    </select>
                </div>
            </div>
        </div><!-- end copyright-content -->
    </div><!-- end container -->
</section><!-- end footer-area -->
<!-- ================================
          END FOOTER AREA
================================= -->

<!-- start scroll top -->
<div id="scroll-top">
    <i class="fa fa-angle-up" title="Go top"></i>
</div>
<!-- end scroll top -->




</body>
</html>